<form>
    <legend>PRUEBA AARCO</legend>
    <div class="mb-3">
      <label  class="form-label" >Marca:</label>
      <select [(ngModel)]="selectedMarca" (ngModelChange)="onMarcaChange()" class="form-control" placeholder="marca auto">
      <option *ngFor="let marca of marcas"  [ngValue]="marca">{{marca.Marca1}}</option>
  </select>
    </div>
    <div class="mb-3" *ngIf="selectedMarca">
      <label class="form-label">Submarca</label>
      <select [(ngModel)]="selectedSubmarca" (ngModelChange)="onSubmarcaChange()"  class="form-control" placeholder="submarca auto">
        <option *ngFor="let submarca of submarcas" [ngValue]="submarca">{{submarca.Submarca1}}</option>
      </select>
    </div>
    <div class="mb-3" *ngIf="selectedSubmarca">
      <label class="form-label">Modelo:</label>
      <select [(ngModel)]="selectedModelo" (ngModelChange)="onModeloChange()" class="form-control" placeholder="modelo auto">
        <option *ngFor="let modelo of modelos" [ngValue]="modelo">{{modelo.Modelo1}}</option>
      </select>
    </div>
    <div class="mb-3" *ngIf="selectedModelo">
      <label>Descripcion:</label>
      <select [(ngModel)]="selectedDescripcion" class="form-control" placeholder="descripcion auto">
        <option *ngFor="let descripcion of descripciones" [ngValue]="descripcion">{{descripcion.DescricpcionId}}</option>
      </select>
    </div>
</form>